@page "/riders"

@using StageRaceFantasy.Application.Riders.Queries.GetAll 

@inject HttpClient httpClient
@inject IJSRuntime js

<MatHeadline2>Riders</MatHeadline2>
<div>
    <MatButton Link="riders/create">Create New</MatButton>
</div>

@if (vm == null)
{
    <Loader />
}
else if (vm.Riders.Count == 0)
{
    <MatBody1 Style="font-weight: bolder"><em>No Riders Found.</em></MatBody1>
}
else
{
    <MatTable Items="@vm.Riders"
              FilterByColumnName="LastName"
              ShowPaging="false"
              PageSize="int.MaxValue"
              Striped="true">
        <MatTableHeader>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Id</td>
            <td>@context.FirstName</td>
            <td>@context.LastName</td>
            <td>
                <MatIconButton @onclick="@(() => DeleteRider(context.Id))" Icon="delete" Style="color: red" />
            </td>
        </MatTableRow>
    </MatTable>
}

@code {
    private GetAllRidersVm vm;

    protected override async Task OnInitializedAsync()
    {
        vm = await httpClient.GetFromJsonAsync<GetAllRidersVm>("api/riders");
    }

    async Task DeleteRider(int riderId)
    {
        var rider = vm.Riders.First(x => x.Id == riderId);

        if (await js.InvokeAsync<bool>("confirm", $"Do you want to delete rider {rider.FirstName} {rider.LastName}?"))
        {
            await httpClient.DeleteAsync($"api/riders/{rider.Id}");
            await OnInitializedAsync();
        }
    }
}
