@page "/races/{raceId:int}/entries"

@using StageRaceFantasy.Shared.Models

@inject HttpClient httpClient
@inject IJSRuntime js

<h1>Race Entries</h1>

@if (raceEntries == null)
{
    <p><em>Loading...</em></p>
}
else if (raceEntries.Length == 0)
{
    <p>No riders found.</p>
}
else
{
    <MatTable Items="@raceEntries"
              FilterByColumnName="LastName"
              ShowPaging="false"
              PageSize="int.MaxValue"
              Striped="true">
        <MatTableHeader>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Bib Number</th>
            <th></th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.RiderId</td>
            <td>@context.RiderFirstName</td>
            <td>@context.RiderLastName</td>
            <td>
                <MatTextField Value="@context.BibNumber" ValueChanged="@((int newBibNumber) => context.BibNumber = newBibNumber)" OnFocusOut=@(() => UpdateRaceEntry(context.RiderId))></MatTextField>
            </td>
            <td>
                <MatCheckbox Value="@context.IsEntered" ValueChanged="@((bool newIsEntered) => newIsEntered ? EnterRider(context.RiderId) : WithdrawRider(context.RiderId))" />
            </td>
        </MatTableRow>
    </MatTable>
}

@code {
    [Parameter] public int raceId { get; set; }

    private GetRiderRaceEntryDto[] raceEntries;

    protected override async Task OnInitializedAsync()
    {
        raceEntries = await httpClient.GetFromJsonAsync<GetRiderRaceEntryDto[]>($"api/races/{raceId}/entries");
    }

    async Task EnterRider(int riderId)
    {
        var raceEntry = raceEntries.First(x => x.RiderId == riderId);
        raceEntry.IsEntered = true;

        var addRaceEntryDto = new AddRiderRaceEntryDto()
        {
            RaceId = raceId,
            RiderId = riderId,
        };

        await httpClient.PostAsJsonAsync($"api/races/{raceId}/entries", addRaceEntryDto);
        await OnInitializedAsync();
    }

    async Task WithdrawRider(int riderId)
    {
        var raceEntry = raceEntries.First(x => x.RiderId == riderId);
        raceEntry.IsEntered = false;

        await httpClient.DeleteAsync($"api/races/{raceId}/entries/{riderId}");
        await OnInitializedAsync();
    }

    async Task UpdateRaceEntry(int riderId)
    {
        var raceEntry = raceEntries.First(x => x.RiderId == riderId);

        var updateRaceEntryDto = new UpdateRiderRaceEntryDto()
        {
            BibNumber = raceEntry.BibNumber,
        };

        await httpClient.PutAsJsonAsync($"api/races/{raceId}/entries/{riderId}", updateRaceEntryDto);
        await OnInitializedAsync();
    }
}
