@page "/fantasy-teams"

@using StageRaceFantasy.Application.FantasyTeams.Queries.GetAll

@inject HttpClient httpClient
@inject IJSRuntime js

<MatHeadline2>Fantasy Teams</MatHeadline2>
<div>
    <MatButton Link="fantasy-teams/create">Create New</MatButton>
</div>

@if (vm == null)
{
    <Loader />
}
else if (vm.FantasyTeams.Count == 0)
{
    <MatBody1 Style="font-weight: bolder"><em>No Teams Found.</em></MatBody1>
}
else
{
    <MatTable Items="@vm.FantasyTeams"
              FilterByColumnName="Name"
              ShowPaging="false"
              PageSize="int.MaxValue"
              Striped="true">
        <MatTableHeader>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Id</td>
            <td>@context.Name</td>
            <td>
                <MatIconButton @onclick="@(() => DeleteTeam(context.Id))" Icon="delete" Style="color: red" />
                <MatButton Link="@($"fantasy-teams/{@context.Id}")">View</MatButton>
            </td>
        </MatTableRow>
    </MatTable>
}

@code {
    private GetAllFantasyTeamsVm vm;

    protected override async Task OnInitializedAsync()
    {
        vm = await httpClient.GetFromJsonAsync<GetAllFantasyTeamsVm>("api/fantasy-teams");
    }

    async Task DeleteTeam(int teamId)
    {
        var team = vm.FantasyTeams.First(x => x.Id == teamId);

        if (await js.InvokeAsync<bool>("confirm", $"Do you want to delete fantasy team {team.Name}?"))
        {
            await httpClient.DeleteAsync($"api/fantasy-teams/{team.Id}");
            await OnInitializedAsync();
        }
    }
}
